<main class="p-5 bg-blue-400 h-screen">
    <h1 class="text-center text-4xl"> Página Informativa</h1>
    <div class="bg-blue-600 m-4">
        <ul class="text-white text-xl p-5">
            <li>Argumentos de entrada: {{argumentos}}</li>
            <li>Nombre de la plataforma: {{info.platform}}</li>
            <li>Versión de node.js: {{info.version}}</li>
            <li>Memoria total reservada: {{info.memoryUsage.rss}}</li>
            <li>Path de ejecución: {{info.execPath}}</li>
            <li>Process ID: {{info.pid}}</li>
            <li>Carpeta del proyecto: {{info.cwd}}</li>
        </ul>
    </div>
</main>
{{footer}}